@use '@angular/material' as mat;

.loader {
  width: 70px;
  height: 35px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
}
.loader:before {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  border: 5px solid #0000;
  border-color: #fff #fff #0000 #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg);
}
@keyframes rotate {
  0% {
    border-width: 10px;
  }
  25% {
    border-width: 3px;
  }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
  }
  75% {
    border-width: 3px;
  }
  100% {
    border-width: 10px;
  }
}

/////////////////////////////////////////////////////////

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$orange-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

html,
body {
  height: 100%;
}
body {
  margin: auto;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.chart__container {
  margin: auto;
  position: relative;
  height: 78vh;
  width: 80vw;
}

.config__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
  margin: 1rem;
}
